extends formulario 

block mensajes
    div.container.mt-3
        div.jumbotron
            div.row
                div.col-md-6.offset-md-3
                    h1.text-center(style="color:blue;")!="Centro de Mensajes"
                    br
                    form.form( onsubmit="return addMessage(this)" autocomplete='off')
                        p Correo electrónico:
                            input.form-control.my-2.mr-2(type="email" id="email" placeholder="juan@hotmail.com" required)
                        br
                        hr
                        div#messages
                        br
                        p(style="margin-bottom: 0rem;")!="Mensaje:"
                        di.input-group.mb-3
                            input.form-control.my-2.mr-2(type="text" id="text" placeholder="Ingrese un mensaje.." required)
                            div.input-group-prepend
                                input#envioMensaje.btn.btn-primary.my-2(type="submit" value="Enviar!")
                    